@import "../bower_components/bootstrap/less/bootstrap.less";

@lightGrey: #ddd;
@white: #fff;
@black: #000;

@sidebar-width: 200px;
@sidebar-color: @white;

// Override some bootstrap variables.
// Suprisingly, this works, even though we already imported bootstrap.
// This is because less variables are loaded lazily.
@navbar-default-bg: @white;
@navbar-default-border: @lightGrey;

.disable-scrolling() {
  height: 100%;
  overflow: hidden;
}

.disable-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.border-radius(@top-left, @top-right, @bottom-right, @bottom-left) {
  -webkit-border-radius: @top-left @top-right @bottom-right @bottom-left;
  -moz-border-radius: @top-left @top-right @bottom-right @bottom-left;
  border-radius: @top-left @top-right @bottom-right @bottom-left;
}

body {
  .disable-scrolling;
  margin-top: @navbar-height;
}

#project-explorer {
  .disable-select;

  & > ul {
    list-style-type: none;
    padding-left: 0;
    ul {
      list-style-type: none;
      padding-left: 10px;
    }
  }
}

#console {
  border-top: 1px solid;
  border-color: @lightGrey;
}

#wrapper {
  padding-left: @sidebar-width;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  padding-left: 10px;
  margin-left: -@sidebar-width;
  left: @sidebar-width;
  width: @sidebar-width;
  background: @sidebar-color;
  border-right: 1px;
  border-style: none solid none none;
  border-color: @lightGrey;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.inset {
  padding-left: 15px;
}

// This makes nested dropdowns (for the context menu) work
// From http://stackoverflow.com/a/18024991 (http://www.bootply.com/86684)
.dropdown-submenu {
  position: relative;

  & > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    .border-radius(0, 6px, 6px, 6px);
  }

  &:hover > .dropdown-menu {
    display: block;
  }

  & > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  &:hover > a:after {
    border-left-color: #ffffff;
  }

  .pull-left {
    float: none;
    & > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      .border-radius(6px, 0, 6px, 6px);
    }
  }
}
