@import "../bower_components/bootstrap/less/bootstrap.less";

@lightGrey: #ddd;
@white: #fff;
@black: #000;

@sidebar-width: 200px;
@sidebar-color: @white;

// Override some bootstrap variables.
// Suprisingly, this works, even though we already imported bootstrap.
// This is because less variables are loaded lazily.
@navbar-default-bg: @white;
@navbar-default-border: @lightGrey;

.disable-scrolling() {
  height: 100%;
  overflow: hidden;
}

.disable-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.border-radius(@top-left, @top-right, @bottom-right, @bottom-left) {
  -webkit-border-radius: @top-left @top-right @bottom-right @bottom-left;
  -moz-border-radius: @top-left @top-right @bottom-right @bottom-left;
  border-radius: @top-left @top-right @bottom-right @bottom-left;
}

body {
  .disable-scrolling;
  margin-top: @navbar-height;
}

.tab {
  .disable-select;
}

#project-explorer {
  .disable-select;

  & > ul {
    list-style-type: none;
    padding-left: 0;
    ul {
      list-style-type: none;
      padding-left: 10px;
    }
  }
}

#console {
  border-top: 1px solid;
  border-color: @lightGrey;
};

// Override some jquery.terminal styles...
.terminal, .cmd {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: @white;
  color: @black;
  font-size: 14px;
}

#wrapper {
  padding-left: @sidebar-width;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  padding-left: 10px;
  margin-left: -@sidebar-width;
  left: @sidebar-width;
  width: @sidebar-width;
  background: @sidebar-color;
  border-right: 1px;
  border-style: none solid none none;
  border-color: @lightGrey;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.inset {
  padding-left: 15px;
}

#extranav > button {
  margin-top: 2px;
  margin-left: 5px;
  margin-left: 5px;
}
