{% extends "layout.html" %}

{% block sidebar %}
<div id="projects"></div>
{% endblock %}

{% block content %}
<div class="row">
<div id="editor">
  <ul class="editor-tabs nav nav-tabs">
  <li class="editor-add-file">
    <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
  </li>
  </ul>
  <div id="editor-buffer" class="col-md-12">
  </div>
</div>

<div id="console" class="col-md-12">
</div>
</div>
{% endblock %}

{% block js %}
  {% assets 'js_all' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
