{% extends "layout.html" %}

{% block content %}
<div class="container"/>
<div class="row" />

<h1>McLab IDE</h1>

<table class="table">
  <tr><td>Project</td><td></td></tr>
  {% for project in projects %}
  <tr>
  <td><a href="/project/{{ project }}">{{ project }}</a></td>
  <td><button name="delete" type="submit" value="{{ project }}" class="btn btn-xs btn-danger">
    Delete <span class="glyphicon glyphicon-trash"></span>
  </button></td>
  </tr>
  {% endfor %}
</table>

</div>
</div>

{% endblock %}
