{% extends "layout.html" %}

{% block content %}
<div id="wrapper" data-bind="beforeUnloadText: editor.tabs.beforeUnloadText">

<div id="sidebar-wrapper">
  <div data-bind="with: explorer">
  <div id="project-explorer"
       data-bind="contextMenu: { target: '#files-context-menu',
                                 scopes: 'li',
                                 onItem: onContextMenuItem }">
    <form data-bind="submit: newFile" class="form form-inline">
      <input type="text" class="form-inline" name="path"
             placeholder="New file..." />
      <button class="btn btn-xs btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </form>
    <ul data-bind="template: {name: 'tree-node', foreach: root.children}"></ul>
  </div>
  </div>
</div>

<script type="text/html" id="tree-node">
  <li data-bind="click: toggle">
    <!-- ko if: leaf -->
      <span class="glyphicon glyphicon-file"></span>
    <!-- /ko -->
    <!-- ko if: !leaf() && expanded() -->
      <span class="glyphicon glyphicon-folder-open"></span>
    <!-- /ko -->
    <!-- ko if: !leaf() && !expanded() -->
      <span class="glyphicon glyphicon-folder-close"></span>
    <!-- /ko -->
    <span data-bind="text: name, event: { dblclick: $root.explorer.select }"></span>
      <div data-bind="if: expanded">
        <ul data-bind="template: {name: 'tree-node', foreach: children}"></ul>
      </div>
    </li>
</script>

<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
    <div id="editor" data-bind="with: editor">
      <div data-bind="with: tabs">
        <ul class="editor-tabs nav nav-tabs" data-bind="foreach: tabs,
                                                        contextMenu: { target: '#tab-context-menu',
                                                                       scopes: 'li',
                                                                       onItem: onContextMenuItem }">
        <li class="tab" data-bind="css: { active: $parent.selectedTab() === $data }">
        <a href="#" data-bind="click: $parent.selectedTab">
          <span data-bind="if: dirty">*</span>
          <span data-bind="text: name"></span>
          <span data-bind="click: $parent.closeTab" class="glyphicon glyphicon-remove"></span>
        </a>
        </li>
      </ul>
      </div>
      <div id="editor-buffer" class="col-md-12"
           data-bind="style: { visibility: visible() ? 'visible' : 'hidden' },
                      contextMenu: { target: '#editor-context-menu',
                                     onItem: $root.onContextMenuItem }">
      </div>
    </div>
    <div id="console" class="col-md-12"
         data-bind="terminal: { onCommand: onCommand, enabled: matlabSessionReady }">
    </div>
    </div>
  </div>
</div>
</div>

<div id="editor-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#">Extract function</a></li>
    <li><a tabindex="-1" href="#">Extract variable</a></li>
    <li><a tabindex="-1" href="#">Inline variable</a></li>
    <li><a tabindex="-1" href="#">Inline script</a></li>
    <li><a tabindex="-1" href="#">Jump to declaration</a></li>
    <li><a tabindex="-1" href="#">Find callers</a></li>
  </ul>
</div>

<div id="files-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1">Rename...</a></li>
    <li><a tabindex="-1">Delete</a></li>
  </ul>
</div>

<div id="tab-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#">Close</a></li>
    <li><a tabindex="-1" href="#">Save</a></li>
  </ul>
</div>
{% endblock %}

{% block js %}
  {% assets 'js_ace', 'js_app' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
    ko.applyBindings(new ide.ViewModel({{ settings|safe }}));
  </script>
{% endblock %}
