{% extends "layout.html" %}

{% block content %}
<div id="wrapper">

<div id="sidebar-wrapper">
  <div id="project-explorer">
  <form id="new-file-form" class="form form-inline">
  <input type="text" class="form-inline" name="path" placeholder="New file..." />
  <button class="btn btn-xs btn-primary">
  <span class="glyphicon glyphicon-plus"></span></button>
  </form>
  <div id="files"></div>
  </div>
</div>

<div id="page-content-wrapper">
  <div class="page-content inset">

    <div class="row">
    <div id="editor">
      <ul data-bind="foreach: tabs" class="editor-tabs nav nav-tabs">
        <li data-bind="css: { active: selected }">
        <a href="#" data-bind="click: $parent.selectTab">
          <span data-bind="if: dirty">*</span>
          <span data-bind="text: name"></span>
          <span data-bind="click: $parent.closeTab" class="glyphicon glyphicon-remove"></span>
        </a>
        </li>
      </ul>
      <div id="editor-buffer" class="col-md-12">
      </div>
    </div>

    <div id="console" class="col-md-12">
    </div>
    </div>
  </div>
</div>
</div>

<div id="editor-context-menu">
  <ul class="dropdown-menu" role="menu">
   <li class="dropdown-submenu">
    <a tabindex="-1" href="#">Refactor...</a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Extract function</a></li>
    </ul>
  </li>
  <li><a tabindex="-1">Jump to declaration</a></li>
  <li><a tabindex="-1">Find callers</a></li>
  </ul>
</div>

<div id="files-context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1">Rename...</a></li>
    <li><a tabindex="-1">Delete</a></li>
  </ul>
</div>
{% endblock %}

{% block js %}
  {% assets 'js_ace', 'js_app' %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
    ide.init({{ settings|safe }});
  </script>
{% endblock %}
