{% extends "layout.html" %}

{% block content %}
<div class="row">
<div id="editor" class="col-md-12">
</div>

<div id="console" class="col-md-12">
</div>
</div>
{% endblock %}

{% block js %}

<script>
function resizeAce() {
  var height = $(window).height();
  $('#editor').height(3 * height / 4);
  $('#console').height(height / 4);
  ace.edit('editor').resize();
  ace.edit('console').resize();
}

function tryParse(editor, console) {
  $.ajax({
    url: '/parse',
    method: 'POST',
    contentType: 'text/plain',
    data: editor.getValue(),
    dataType: 'json',
    success: function (data) {
      if (data.errors) {
        console.setValue(
          data.errors.map(function (err) {
            return '  [' + err.line + ', ' + err.col + '] ' + err.message;
          }).join('\n'));
      } else {
        console.setValue('');
      }
    },
  });
}
$(function() {
  var editor = ace.edit('editor');
  editor.setTheme('ace/theme/solarized_dark');
  editor.setFontSize(14);
  editor.getSession().setMode('ace/mode/matlab');
  editor.getSession().setUseSoftTabs(true);
  editor.resize();
  editor.focus();

  var console = ace.edit('console');
  console.setTheme('ace/theme/solarized_light');
  console.setFontSize(14);
  console.setReadOnly(true);
  console.setHighlightActiveLine(false);
  console.renderer.setShowGutter(false);

  $(window).resize(resizeAce);
  resizeAce();

  var typingTimer = null;
  var doneTypingInterval = 1000;

  //on keyup, start the countdown
  editor.on('change', function(){
    if (typingTimer != null) {
      clearTimeout(typingTimer);
      typingTimer = null;
    }
    typingTimer = setTimeout(doneTyping, doneTypingInterval);
  });

  function doneTyping() {
    tryParse(editor, console);
    typingTimer = null;
  }
});
</script>

{% endblock %}
