<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>McLab IDE</title>

  {% assets 'css_all' %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
</head>

<body>
  <div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><a href="#">McLab IDE</a> </li>
      <li><a href="#">Projects</a> </li>
      <li><a href="#">Settings</a> </li>
    </ul>
  </div>

  <!-- Page content -->
  <div id="page-content-wrapper">
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
    {% block content %}{% endblock %}
    </div>
  </div>
  </div>

 {% block js %}{% endblock %}
</body>
</html>
